
ot {
  --bg--color: #006778;
  --primary--color: #fff;
  --secondary--color: #a4ebf3;
  --gray--color: #aaaaaa;
}
.wapper {

  justify-content: center;
 

  font-family: "Roboto", sans-serif; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  background-image: linear-gradient(90deg,rgba(221, 17, 177, 0.5),rgba(16, 179, 35, 0.5));
  padding: 10px 30px 30px;

  text-align: center;
  align-items: center;
  padding: 18% 0 18% 0;

}
.wapper-heading{
  color: white;
  text-align: center;
}
.wapper input {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 45px;

  border: 1px solid #0093ab;
  outline: none;
  border-radius: 10px;
}
.btn{
  margin-right:10px ;
  background-image:linear-gradient(180deg,rgba(221, 17, 177, 1),rgba(16, 179, 35, 1)) ;
}
.btn:hover {
  transform: scale(1.1);
}
.wapper input:focus {
  border: 1px solid var(--bg--color);
}
.wapper input::placeholder {
  color: black;
}