.news{
  margin-top: 75px;
}
.news a {
  color: black;
}
.time{
  font-style: italic;
  font-size: x-small;
}
.news-footer h3{
  font-weight: bold;
}
.news-left h3{
  font-style: oblique;
  font-weight: bold;
}
.news a{
  text-decoration: none;
}

.news-right img{
  
}


